*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:#353b48;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

body #imageInput{
    width: 50%;
    height: 25%;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
}


#resultContainer {
    display: flex;
    justify-content: space-around;
}

#resultContainer img {
    max-width: 400px;
}

#resultContainer pre {
    white-space: pre-wrap;
    font-family: monospace;
    font-size: 12px;
    color: #FFFFFF;
}
